*, *::before, *::after {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--Inter);
}

body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --Black: rgba(0, 0, 0, 1);
    --Black_Light: rgba(35, 35, 35, 1);
    --White: rgba(255, 255, 255, 1);
    --Green: rgba(215, 235, 110, 1);
    
    /* Font Families */
    --Inter: 'Inter', sans-serif;
}

main {
    display: block;
    height: 100vh;
    height: 100svh;
    background-color: var(--Black);
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(2em, 5vw, 4vw) clamp(3em, 8vw, 9vw);
    user-select: none;
    
}

.right_nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(1em, 4vw, 3vw);

    & a {
        text-decoration: none;
        color: var(--White);
        font-weight: 400;
        font-size: clamp(0.7rem, 2.5vw, 0.95rem);
    }
}

.logo_image {
    width: clamp(5em, 10vw, 8vw);
}

.heading_area {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    height: 100%;
    gap: clamp(3em, 5vw, 5vw);
    padding: clamp(3em, 7vw, 6vw) clamp(2em, 5vw, 4vw);
    color: var(--White);

    & h6 {
        font-weight: 400;
        font-size: clamp(0.75rem, 2vw, 0.95rem);
        letter-spacing: 2.5px;
    }

    & h1 {
        font-weight: 700;
        font-size: clamp(2rem, 9vw, 9vw);
        line-height: 100%;
    }

    & p {
        font-weight: 300;
        font-size: clamp(0.75rem, 2vw, 0.95rem);
        line-height: 150%;
        width: 60%;
    }
}

.text_containers {
    height: max-content;
    width: max-content;
    overflow: hidden;
}

.green_texts {
    color: var(--Green);
}
